  <div id="<%= follow %>-modal">
    <div class="follow-modal-content pb-4">
      <div class="follow-modal-header d-flex justify-content-between px-3">
        <h5 class="mb-0" style="line-height: 38px;"><%= title %></h5>
        <span id="<%= follow %>-modal-close" class="h2 ce-pointer mb-0">&times;</span>
      </div>
      <div class="follow-modal-body">
        <% follows.each do |each_user| %>
          <div class="d-flex border-bottom py-2 px-2 align-items-center" style="line-height: 32px;">
            <%= link_to user_path(each_user), class: "d-flex" do %>
              <p class= "mb-0"><%= attachment_image_tag each_user, :profile_image, class: "profile_image", fallback: "no_image.jpg", size: '35x35' %></p>
              <p class="mb-0 pl-2"><%= each_user.username %></p>
            <% end %>  
            <% unless current_user.id == each_user.id %>
              <p class="ml-auto my-auto" id="ajax-follow-button-<%= each_user.id %>">
                <%= render "relationships/follow", user: each_user %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  