<%= form_for (user) do |f| %>
    
    <%= f.label :password, "パスワード", class: "label-control" %>
    <%= f.password_field :password, class: 'form-control' %>
     
    <%= f.label :password_confirmation, "パスワード確認", class: "label-control"%>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  
    <div class= "submit-position">
      <%= f.submit "パスワードを変更", class: "btn btn-success", name: "password" %>
    </div>  
<% end %>