  <%= form_for (user) do |f| %>

    <%= render "shared/error_messages", object: f.object %>
    
    <%= f.label :username, "名前", class: "label-control" %>
    <%= f.text_field :username, class: 'form-control' %>
  
    <%= f.label :email, "メールアドレス" , class: "label-control"%>
    <%= f.email_field :email, class: 'form-control' %>
  
    <%= f.label :password, "パスワード" , class: "label-control"%>
    <%= f.password_field :password, class: 'form-control' %>
  
    <%= f.label :password_confirmation, "パスワード確認" , class: "label-control"%>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
    
    <div class= "submit-position">
      <%= f.submit "新規登録", class: "btn btn-success", id: "rspec_new_user_button" %>
    </div>  
  <% end %>