<%= form_for (user), url: user_path(user) do |f| %>

    <%= render "shared/error_messages", object: f.object %>

    <%= f.label :username, "名前", class: "label-control" %>
    <%= f.text_field :username, class: 'form-control' %>
     
    <%= f.label :email, "メールアドレス", class: "label-control" %>
    <%= f.email_field :email, class: 'form-control' %>
    
    <%= f.label :profile_image_id, "プロフィール画像", class: "label-control"%><br>
    <%= f.attachment_field :profile_image, class: "pl-3" %><br>
  
    <%= f.label :profile,"プロフィール", class: "label-control" %>　　　
    <%= f.text_area :profile, class: 'form-control' %>
    
    <%= f.label :travel_period, "旅歴", class: "label-control" %>
    <%= f.text_field :travel_period, class: 'form-control' %>
    
    <%= f.label :current_location, "現在地", class: "label-control" %>
    <%= f.text_field :current_location, class: 'form-control' %>
     
    <div class= "submit-position">
      <%= f.submit "プロフィールを更新", class: "btn btn-success" %>
    </div>  
<% end %>