<section class="w1100-container">
<h1>ユーザー詳細</h1>

  <section id ="profile-container"> 
    <div class="d-inline-block align-top">
      <%= attachment_image_tag @user, :profile_image, class: "profile_image m-3", fallback: "no_image.jpg", size: '120x120' %>
    </div>
    <div class="d-inline-block" id="profile-top">
      <p class="d-inline-block" id="profile-username" ><%= @user.username%></p>
      <% if @user.id == current_user.id  %>
        <%= link_to edit_user_path(@user), class: "d-inline-block pl-2", id: "profile-profile-edit" do%>
          <span>プロフィールを編集</span><i class="fas fa-pen post-font-awesome px-1"></i>
        <% end %>
      <% end %>
      <p id="profile-body"><%= @user.profile %></p>
    </div>
  </section>
  
  <section id="profile-posts-container">
    <ul class="d-flex flex-wrap p-0">
      <% @user.posts.each do |post| %>
        <li data-toggle="modal" data-target=".bd-example-modal-lg-<%=post.id%>">
          <%= attachment_image_tag post, :post_image, id: "profile-posts-posts"  %>
        </li>
          
          
  <!--モーダル中身-->
 <%= render "shared/post_modal", post: post %>
          
          
      <% end %>
    </ul>
  </section>
  

</section>