<section class="w1100-container">


  <section id ="profile-container" >
    <div class="d-flex flex-wrap ">
      <div class="col-lg-2 pl-0">
        <%= attachment_image_tag @user, :profile_image, class: "profile_image m-3", fallback: "no_image.jpg", size: '120x120' %>
      </div>
      <div class="col-lg-9 pl-5">
        <div class="d-flex align-items-start">
          <p class="mb-2 pr-3" id="profile-username" ><%= @user.username%></p>
          <% if @user.id == current_user.id  %>
            <%= link_to edit_user_path(@user), class: "mt-1 pl-2 profile-edit-button" do%>
              <span>プロフィールを編集</span><i class="fas fa-pen post-font-awesome px-1"></i>
            <% end %>
          <% else%>
            <div id="ajax-follow-button">
              <%= render "relationships/follow", user: @user%>
            </div>
        <% end %>
          
        </div>
          <div class="d-flex fs-13 mb-2">
            <p class="col-3 mb-0 pl-0 ce-pointer" id="follower-modal-open">フォロワー<span id="ajax-followers-number"><%= @user.followers.count %></span>人</p>
            <p class="col-3 mb-0 pl-0 ce-pointer" id="following-modal-open">フォロー<span id="ajax-followings-number"><%= @user.followings.count %></span>人</p>
          </div>
          <p id="profile-body" class="mb-2"><%= @user.profile %></p>
          <div class="d-flex text-secondary fs-12">
            <p class="col-3 pl-0"><i class="fa-solid fa-compass pr-1"></i><%= current_user.travel_period %></p>
            <p class="col-3 pl-0"><i class="fa-solid fa-location-dot pr-1"></i><%= current_user.current_location%></p>
          </div>  
      </div>
    </div>
    <!--フォロー一覧モーダル-->
    <span id="ajax-follower-modal"><%= render "relationships/follow_list_modal", follow: "follower", follows: @user.followers, title: "フォロワー" %></span>
    <span id="ajax-folloer-modal"><%= render "relationships/follow_list_modal", follow: "following", follows: @user.followings, title: "フォロー中" %></span>
    
  </section>
  

  
  <section id="profile-posts-container">
    <ul class="d-flex flex-wrap p-0">
      <% @user.posts.reverse_each do |post| %>
        <li data-toggle="modal" style=""data-target=".bd-example-modal-lg-<%=post.id%>">
          <%= attachment_image_tag post, :post_image, id: "profile-posts-posts"  %>
        </li>
        <!--モーダル中身-->
        <%= render "shared/post_modal", post: post, comment: @comment %>
      <% end %>
    </ul>
  </section>
</section>