<section class="w1100-container">
<h1>ユーザー詳細</h1>

  <section id ="profile-container"> 
    <div class="d-inline-block align-top">
      <%= attachment_image_tag @user, :profile_image, class: "profile_image m-3", fallback: "no_image.jpg", size: '120x120' %>
    </div>
    <div class="d-inline-block" id="profile-top">
      <p class="d-inline-block" id="profile-username" ><%= @user.username%></p>
      <% if @user.id == current_user.id  %>
        <%= link_to edit_user_path(@user), class: "d-inline-block pl-2", id: "profile-profile-edit" do%>
          <span>プロフィールを編集</span><i class="fas fa-pen post-font-awesome px-1"></i>
        <% end %>
      <% end %>
      <p id="profile-body"><%= @user.profile %></p>
    </div>
  </section>
  
  <section id="profile-posts-container">
    <ul class="d-flex flex-wrap p-0">
      <% @user.posts.each do |post| %>
        <li data-toggle="modal" data-target=".bd-example-modal-lg-<%=post.id%>">
          <%= attachment_image_tag post, :post_image, id: "profile-posts-posts"  %>
        </li>
          
          
  <!--モーダル中身-->
  <div class="modal fade bd-example-modal-lg-<%=post.id%>" tabindex="-1" role="dialog"
       aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <section class = "list-container my-5">
            <%= link_to user_path(post.user) do %>
              <%= attachment_image_tag post.user, :profile_image, class: "profile_image m-2", fallback: "no_image.jpg", size: '40x40' %>
            <% end %>
          <div class="d-inline-block align-middle">
            <%= link_to user_path(post.user) do %>
              <p class="post-top-element d-inline list-username"><%= post.user.username %></p>
            <% end %>
            <p class="list-top-element d-inline post-location"><%= post.location %></p>
            <p class="list-top-element post-title mb-0"><%= post.title %></p>
          </div>
          <%= link_to post_favorites_path(post), method: :post, remote: true do %>
            <%= attachment_image_tag post, :post_image, class: "d-block", style: "margin: 0 auto ;", size: '500x500' %>
          <% end %>
          <div>
            <%= simple_format post.body, class: "post-body" %>
              
            <p class = "pb-1 list-created-at"><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
          </div>
            <ul class="mb-0 pr-3 pb-1 text-right">
              <div class="post-font-awesome d-inline-block" id="favorite-post-<%= post.id%>">
                <%= render "favorites/favorite", post: post %>
              </div>
          <% if current_user.id == post.user.id%>
              <%= link_to edit_post_path(post), class: " d-inline-block" do %>
                  <i class="fas fa-pen post-font-awesome"></i>
              <% end %>
              <%= link_to post_path(post), class: "d-inline-block", data: {confirm: "投稿を削除しますか？"}, method: :delete do %>
                <i class="far fa-trash-alt post-font-awesome"></i>
              <% end %>
            </ul>
          <% end %>  
        </section>
          
          
      </div>
    </div>
  </div>
          
          
      <% end %>
    </ul>
  </section>
  

</section>