<footer>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <% if logged_in? %>
      <%= link_to "Sharevel", root_path, class: "navbar-brand", id: "sharevel-footer" %>
    <% else %>
      <%= link_to "Sharevel", top_path, class: "navbar-brand", id: "sharevel-footer" %>
    <% end %>
  
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item">
            <%= link_to "ホーム画面へ", root_path, class: "nav-link" %>
          </li>
        <% else %>  
          <li class="nav-item">
            <%= link_to "新規登録へ", new_user_path, class: "nav-link" %>
          </li>
        <% end %>  
        <li class="nav-item">
          <%= link_to "Sharevelとは", top_path , class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>  
</footer>
