<header>
  <nav class="navbar navbar-expand-lg navbar-success bg-success">
    <%= link_to "Sharevel", root_path, class: "navbar-brand text-white", id: "sharevel-header"%>
    
  
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to "旅をシェア", new_post_path, class: "nav-link text-white nav-item-header" %>
        </li>
        <li class="nav-item">
          <%= link_to "トラベラー一覧", users_path, class: "nav-link text-white nav-item-header" %>
        </li>
        <li class="nav-item">
          <!--ドロップダウン用-->
          <div class="dropdown open">
            <button class="btn btn-success dropdown-toggle"
                    type="button" id="dropdownMenu3" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              マイページ
              <%= attachment_image_tag current_user, :profile_image, class: "profile_image ml-1", fallback: "no_image.jpg", size: '30x30' %>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to "プロフィール", user_path(current_user), class: "dropdown-item text-success"%>      
              <%= link_to "ログアウト", logout_path, method: :delete, class: "dropdown-item text-success" %>
            </div>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_path, class: "nav-link text-white nav-item-header" %>
        </li>   
        <li class="nav-item">
          <%= link_to "ログイン", login_path, class: "nav-link text-white nav-item-header" %>
        </li>   
      <% end %>
      </ul>
    </div>
  </nav>
</header>
