<header>
  <nav class="navbar navbar-expand-lg">
    <%= link_to "Sharevel", root_path, class: "navbar-brand", id: "sharevel-header"%>
  
    <div class="collapse navbar-collapse justify-content-end " id="navbarSupportedContent">
      <% if logged_in? %>
      <!--ログイン時-->
      <ul class="navbar-nav">
      <%= link_to root_path do %>
        <li class="nav-item">
          <div>
            <button class="dropdown">
              投稿を一覧<i class="fa-solid fa-earth-americas fa-lg pl-2"></i>
            </button>
          </div>
        </li>
      <% end %>
        <li class="nav-item">
          <div class="dropdown">
            <button class="dropdown-toggle"
                    type="button"  data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              投稿をする<i class="fa fa-edit fa-lg pl-2 "></i> 
            </button>
            <div class="dropdown-menu">
              <%= link_to "旅をシェア", new_post_path, class: "dropdown-item text-success"%>      
              <%= link_to "旅人に質問", new_question_path, class: "dropdown-item text-success" %>
            </div>
          </div>
        </li>
        
        <li class="nav-item">
          <!--ドロップダウン用-->
          <div class="dropdown open">
            <button class="dropdown-toggle"
                    type="button"data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              マイページ<i class="fa fa-user fa-lg pl-2"></i> 
            </button>
            <div class="dropdown-menu">
              <%= link_to "プロフィール", user_path(current_user), class: "dropdown-item"%>      
              <%= link_to "ログアウト", logout_path, method: :delete, class: "dropdown-item" %>
            </div>
          </div>
        </li>
        <!--ログアウト時-->
      <% else %>
        <button class="nav-item py-2">
          <%= link_to "新規登録", new_user_path, class: "nav-link" %>
        </button>   
        <button class="nav-item py-2">
          <%= link_to "ログイン", login_path, class: "nav-link" %>
        </button>   
      <% end %>
      </ul>
    </div>
  </nav>
</header>
