  <!--投稿切り替えボタン-->
  
<section class="list-header-image">
  
</section>  


<section class="list-page-container d-flex">
  <section class="list-left-container">
    <div class="left-category-choose-container">
      <p class="font-weight-bold text-success h6 pb-1 pl-3 pt-1">カテゴリーから見つける</p>
        <% @big_categories.each do |big_category|%>
            <p  class= "left-category-choose-big-categories"><%= link_to big_category[0].big_category, root_path(big_category: big_category[0].big_category) %>
            <i class="fa fa-chevron-down pl-3 " id= "left-category-dropdown-<%= big_category[0].big_category %>"></i></p>
            <% big_category.each do |category|%>
              <div id= "left-category-dropdown-item-<%= big_category[0].big_category %>">
                <%= link_to category.name, root_path(name: category.name), class: "left-category-choose-name" %>
              </div>
          <% end %>
        <!--ドロップダウン用-->
          <script>
            $(function(){
              $("#left-category-dropdown-item-<%= big_category[0].big_category %>").hide();
              $("#left-category-dropdown-<%= big_category[0].big_category %>").click(function(){
                $("#left-category-dropdown-item-<%= big_category[0].big_category %>").toggle();
              });
            });
          </script>
      <% end %>
    </div>
    
      
  </section>
  <!--画面中央のcontainer-->
  <section class="list-center-container">
      
    <!--投稿一覧-->
    <% @lists.each do |list| %>
        <!--写真付き投稿-->
      <% if list.class == Post %>
        <section class = "list-container ">
            <%= link_to user_path(list.user) do %>
              <%= attachment_image_tag list.user, :profile_image, class: "profile_image my-2 mr-2 ml-3", fallback: "no_image.jpg", size: '40x40' %>
            <% end %>
          <div class="d-inline-block align-middle">
            <%= link_to user_path(list.user) do %>
              <p class="post-top-element d-inline list-username"><%= list.user.username %></p>
            <% end %>
              <p class="post-top-element d-inline post-location"><%= list.location %></p>
              <p class="post-top-element post-title mb-0"><%= list.title %></p>
          </div>
          <span data-toggle="modal" data-target=".bd-example-modal-lg-<%=list.id%>">
            <!--spanはモーダル表示ボタンのため  -->
              <%= attachment_image_tag list, :post_image, class: "d-block", style: "margin: 0 auto ;", size: '540x540' %>
          </span>
          <div class="ml-4">
            <%= simple_format list.body, class: "post-body" %>
            <% list.categories.each do |category| %><!--カテゴリーをハッシュタグで表示-->
              <%= link_to "##{category.name}", root_path(name: category.name), class: "post-category-name-tag" %>
            <% end %>
            <p class = "pb-1 list-created-at"><%= list.created_at.strftime("%Y-%m-%d %H:%M") %></p>
        </section>
        
        <!--投稿写真を押したときよう-->
        <%= render "shared/post_modal", post: list, comment: @comment %>
        
        
        
        
      <!--質問の投稿      -->
      <% elsif list.class == Question %> 
        <section class="list-container ">
            <%= link_to user_path(list.user) do %>
              <%= attachment_image_tag list.user, :profile_image, class: "profile_image mt-3 mx-2 mb-0", fallback: "no_image.jpg", size: '40x40' %>
            <% end %>
          <div class="d-inline-block align-middle pt-3">
            <%= link_to user_path(list.user) do %>
              <p class="list-top-element d-inline list-username pr-0 "><%= list.user.username %></p>
            <% end %><span>さんの質問</span><i class="fa fa-question-circle "></i> 
  
            <%= link_to question_path(list)  do %>
                <p class="list-top-element list-question-title "><%= list.question_title %></p>
            <% end %>
          </div>
            <p class="list-question-body"><%= list.question_body %></p>
          <div>
            <p class = "pb-1 list-created-at"><%= list.created_at.strftime("%Y-%m-%d %H:%M") %></p>
            <div class="text-right">
              <p class="list-created-at d-inline-block pr-3" style="font-size:12px;"><%= list.answers.count %> 件の回答</p>
              <% if current_user == list.user%>
                <%= link_to question_path(list), class: "d-inline-block pr-2", data: {confirm: "質問を削除しますか？"}, method: :delete do %>
                  <i class="far fa-trash-alt post-font-awesome"></i>
                <% end %>
              <% end %>  
                
            </div>
          </div>             
        </section>
      <% end %>
    <% end %>
  </section>
  
  <section class="list-right-container">
    
    
    <!--プロフィールの表示-->
    <% if logged_in? %>
    <section class="list-right-profile-show-container py-2 mb-4">
      <div class="py-2">
        <div class="d-flex py-2 ">
          <div class="col-3">
            <%=link_to user_path(current_user) do  %>
            <%= attachment_image_tag current_user, :profile_image, class: "profile_image", fallback: "no_image.jpg", size: '60x60' %>
            <% end %>
          </div>
          <div class="col-9">
            <p class="d-inline-block"><%= link_to current_user.username, user_path(current_user) %></p>
            <%= link_to edit_user_path(current_user), class: "pl-2 profile-edit-button fs-10" do%>
              <span>編集</span><i class="fas fa-pen post-font-awesome px-1 fs-10"></i>
            <% end %>
            <p class="fs-10 mt-1">投稿<%= current_user.posts.count%>件</p>
            <div class="d-flex fs-11 mt-1">
              <p class="col-6 pl-0 ce-pointer" id="self-follower-modal-open">フォロワー<%= current_user.followers.count %>人</p>
              <p class="col-6 pl-0 ce-pointer" id="self-following-modal-open">フォロー<%= current_user.followings.count%>人</p>
            </div>
          </div>
        </div>
        <p class="fs-12 px-4 py-2"><%= current_user.profile %></p>
        <div class="d-flex flex-wrap px-4 pb-2 text-secondary fs-10">
          <p class="col-6 pl-0"><i class="fa-solid fa-compass pr-1"></i><%= current_user.travel_period %></p>
          <p class="col-6 pl-0"><i class="fa-solid fa-location-dot pr-1"></i><%= current_user.current_location%></p>
        </div>
      </div>
          <!--フォロー一覧モーダル-->
      <%= render "relationships/follow_list_modal", follow: "self-follower",follows: current_user.followers, user: current_user, title: "フォロワー" %>
      <%= render "relationships/follow_list_modal", follow: "self-following",follows: current_user.followings, user: current_user, title: "フォロー中" %>
    </section>
    <% end %>
    
    <!--最新の質問表示-->
    <section>
      <div style="font-weight: 600;">最新の質問に答える</div>
        <% num =0 %>
        <% @right_questions.each do |question| %>
        <% num +=1 %>
          <div class="list-right-question-list-container">
            <%=link_to question_path(question), class: "list-right-question-list" do %>
              <div>
                <p><%= num %>．<span style="font-weight:500;"><%= question.user.username %></span>さん</p>
                <p><%= question.question_title %></p>
                <p class="list-right-question-list-answer-count"><%= question.answers.count %>件の回答</p>
              </div>
            <% end %>
              <div class="text-right list-right-question-list-created-at">
                <p class="d-inline-blockm-0"><%= question.created_at.strftime("%Y-%m-%d") %></p>
              </div>  
          </div>
        <% end %>
    </section>  
  </section>
</section>
    